body {
	color: #4CAF50;
	font-weight: bold;
	font-size: 16px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.heading {
	color: #4CAF50;
	font-weight: bold;
	font-size: 25px;
}

.textbox {
	width: 255px;
}

.centerme {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
